.content{
    height: 700px;
    width: 700px;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    border: 3px solid;
    position: relative;
    top: 100px;
    left: 600px;
}

.item{

    width: 300px;
    height: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large
    
}

#rojo{

    background-color: red;
}

#azul{
    background-color: blue;
}

#verde{
    background-color: green;
}